
style {
  .colorbox {
    width:150px;
    height:150px;
    background-color:green;
  }
}

<h1> Amazing Fantastic Marko Random RGB! </h1>
<div.colorbox></div>
<h3>rgb(tbd!)</h3>
<button>Change Color!</button>
